/* Header Styling */
.headerParent{
    height: auto;
    padding: 1em;
    font-size: 20px;
    text-align: center;
    background-color: lightgray;
    

  }
  .headerTitle{
    margin: 0 auto;
  }
  .headerSubTitle{
    margin: 0 auto;
    padding: 0px;
  }

  li{
    list-style-type: none;
    display: inline-block;
    margin: 10px;
  }

  .navBar{
    text-align: center;
    background-color: rgba(211, 211, 211, 0.521);
    font-size: 20px;
    padding: 0px;
    margin: 0 auto;
  }

  .siteLogo{
    width: 10%;
    height:10%;
    float:left;
    padding: 4px;
  }
  /* End Header Styling */

 
/* Review Page Styling */
  .reviewsTitle{
    text-align: center;
  }

  .reviewsSubTitle{
    text-align: center;
  }

  .reviewsList{
    text-align: center;
  }

  .ratingInput{
    text-align: center;
  }

  /* End Review Page Styling */

  /* Product Card */

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

  /* End Product Card */

  /* Home Styling */
  .homeParent{
    display: inline-block;
  }

  .homeDescription{
    display: block;
  }

  /* End Home Styling */


/* Slideshow Styling */
.slide-container {
  width: 90%;
  margin: auto; }

h3 {
  text-align: center; }

.slides > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 500px;
}

.slides span {
  padding: 10px;

  color: rgb(12, 7, 7);
  font-size: 55px;
  background: rgba(255, 255, 255, 0.37);
  text-align: center;
}

.each-fade {
  display: flex;
}

.each-fade .image-container {
  width: 75%;
  overflow: hidden;
}

.each-fade .image-container img {
  width: 100%;
}

/* End Slide Show Styling */

/* Home Page Top Picks */
.homeTop{
  width: 100%;
}

.cardHome{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  /* margin: auto; */
  margin-left: 20px;
  text-align: center;
  font-family: arial;
  display:inline-block;
  padding: 30px;

}

.topTitle{
  text-align: center;
}

/* End Home Page Top Picks */

/* Review Styling */


.cardReview{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 600px;
  text-align: center;
  font-family: arial;

}

.leaveButton{
  position: relative;
  font-size: 20px;
}

.imageReview,textarea{
  display: inline-block;
  text-align: center;
}

.reviewForm{
  text-align: center;
}


/* News Styling */
.cardNews{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width:1050px;
  margin:auto;
  text-align: center;
  font-family: arial;
  
}

.row{
  display: inline-block;
  padding: 10px;
  margin: auto;
}

.newsTitle{
  font-size: 25px;
  background-color: rgb(150, 213, 238)
}

/* End News Styling */

/* API price styling */
.metalPrices{
  display: flex;
  flex-direction: row;
  background-color:rgb(238, 234, 16)
}

iframe{
  text-align: center;
  height: 88px;
  width: 355px;
}